<!--<ion-view view-title="Public" name="dashboard-view">-->
    <!--<ion-content class="padding">-->
        <!--This is open for everyone!-->


        <!--<div ng-controller="PublicCtrl as items">-->
            <!--&lt;!&ndash;<input class="full" ng-model="results.query" ng-change="results.proceed()" type="text" id="search" name="search"/>&ndash;&gt;-->

            <!--<ul id="results" >-->
                <!--My items list:-->
                <!--<li ng-repeat="item in items.dataItems">-->
                    <!--{{ item }}-->

                <!--</li>-->
                <!--&lt;!&ndash;<li ng-repeat="item in results.toShow">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{{item.link}}">{{item.name}}</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="animate-repeat" ng-hide="results.toShow.length">&ndash;&gt;-->
                    <!--&lt;!&ndash;<strong>No results found...</strong>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->

            <!--</ul>-->

            <!--<div class="preview">-->
                <!--{{results.query}}-->
            <!--</div>-->
        <!--</div>-->


    <!--</ion-content>-->
<!--</ion-view>-->