$fb-btn: #5a76af;
$gplus-btn: #dd4b39;
//$site-name: #fb5542;
$site-name: #fb5542;
$front-page-link: #e54115;


//== PANELS ==//
$panel-red: #e54115;
$panel-green: #97c4b0;
$panel-blue: #5b57e3;
$panel-salmon: #f0ad4e;
$p-default: #ffe2d6;