@import "colors";

.panel-msg{
  padding: 1rem;
}

.rates-panel.panel{

  .panel-heading{
    min-height: 120px;
  }
  border-radius: 0;

}


.panel-green {
  border-color: $panel-green;
  box-shadow: 1px 1px 1px 1px #DEDEDE;
}

.panel-green .panel-heading {
  /*border-color: #17b880;*/
  color: #fdfdfd;
  background-color: $panel-green;
}

.panel-red {
  border-color: $panel-red;

  /*$site-name*/
  /*border-color: #FB5542;*/
  box-shadow: 1px 1px 1px 1px #DEDEDE;
}

.panel-red .panel-heading {
  /*border-color: #eb3d47;*/
  /*color: #fff;*/
  color: #fdfdfd;
  background-color: $panel-red;
}

.panel-red a {
  color: #eb3d47;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: $panel-salmon;
  box-shadow: 1px 1px 1px 1px #DEDEDE;
}


.panel-yellow .panel-heading {
  border-color: $panel-salmon;
  color: #fff;
  background-color: $panel-salmon;
}

.panel-blue {
  border-color: #5b57e3;
  box-shadow: 1px 1px 1px 1px #DEDEDE;
}


.panel-blue .panel-heading {
  border-color: $panel-blue;
  color: #fff;
  /*color: #999999;*/
  background-color: $panel-blue;
}

.panel-blue a:hover {
  color: #df8a13;
}

.panel-salmon{
  border-color: $panel-salmon;
  /*color: #2d2833;*/
  color: #FFF;
  box-shadow: 1px 1px 1px 1px #DEDEDE;
}


.panel-salmon .panel-heading {
  background: #e1bc86;
}

.panel-blue-1 {
  border-color: #0b7af8;
  box-shadow: 1px 1px 1px 1px #DEDEDE;
}


.panel-blue-1 .panel-heading {
  border-color: #4288f8;
  color: #fff;
  /*color: #999999;*/
  background-color: #4288f8;
}

.panel-heading.mostly-checking .pull-right{
  margin-top: -3rem;

}
.m-left{
  margin-left: .6rem;
}

.mstl-checking-under-height{
  min-height: 7.1rem;
}
.mstl-checking-panel-padding{
  padding-top: .5rem;
}

.h4-underline:after{

  content:"",
}