.navbar-default.sidebar{

  margin-top: 131px;
}

.list-style-none{
  list-style: none;
  margin-left: -10px;

}


.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
  font-size: 1.6rem;
}

.sidebar ul li a.active {
  background-color: #eee;
  font-size: 1.8rem;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}


#side-menu h2{
  padding-left: 30px

}
#side-menu > li a{
  padding-left: 30px;
}

#side-menu > li:not(:first-child){
  text-transform: uppercase;
}
#side-menu li:first-child{
  display: block;
  padding-bottom: 20px;


}

#side-menu li:first-child > ul li:first-child{
  font-size: 1.6rem;
  //margin-left: -30px
}

#side-menu li a:hover, #side-menu li a.active{
  color: #f44516;
  border-right: 4px #5b57e3 solid;
  /*border-left: 4px blue solid;*/

}

@media(min-width:768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}