@mixin font_mixin($style-name, $family, $file) {
  @font-face {
    font-family: $style-name;
    src:  url("../../fonts/" + $family + "/" + $file + ".otf");
    src:  url("../../fonts/" + $family + "/" + $file + ".otf?#iefix") format('embedded-opentype'),
          url("../../fonts/" + $family + "/" + $file + ".woff") format('woff'),
          url("../../fonts/" + $family + "/" + $file + ".ttf")  format('truetype'),
          url("../../fonts/" + $family + "/" + $file + ".svg#" + $style-name) format('svg');
    font-weight: normal;
    font-style: normal;
  }

}
