@mixin font_mixin($font-family-name, $folder, $file) {
  @font-face {
    font-family: $font-family-name;
    src:  url("../../fonts/" + $folder + "/" + $file + ".otf");
    src:  url("../../fonts/" + $folder + "/" + $file + ".otf?#iefix") format('embedded-opentype'),
          url("../../fonts/" + $folder + "/" + $file + ".woff") format('woff'),
          url("../../fonts/" + $folder + "/" + $file + ".ttf")  format('truetype'),
          url("../../fonts/" + $folder + "/" + $file + ".svg#" + $font-family-name) format('svg');
    font-weight: normal;
    font-style: normal;
  }

}
