.or-social-line {
  line-height: 0.5;
  text-align: center;
}
.or-social-line span {
  display: inline-block;
  position: relative;
}
.or-social-line span:before,
.or-social-line span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #8b8b8b;
  border-top: 1px solid #8b8b8b;
  top: 0;
  width: 200px;
}
.or-social-line span:before {
  right: 100%;
  margin-right: 15px;
}
.or-social-line span:after {
  left: 100%;
  margin-left: 15px;
}
.social-login-links p{
  margin-left: -4px;
}

