@import "colors";
.slogan, .site-name{
  position: absolute;
  z-index: 10;
  color: $site-name;
  font-size: 14rem;
  text-shadow: .1rem .1rem #9ae5f5;
}

.site-name{
  font-family: sans-serif;
  left: 25%;
  top: 25%;
}

.slogan{
  left: 25.6%;
  top: 25%;
}
