@import "colors";

html, body{
  font-family: "Roboto";
}

a{
  outline:0;
}

a.register-now, .menu-button, .close-button{
  outline: 0;
}

.how-it-works-list{
  margin-left: -20px;
}

.how-it-works{
  width: 100%;
  font-size: 1.6rem;

}
.how-it-works-title{
  margin-left: -40px;
  margin-bottom: 10px;
}

.center{
  text-align: center;
}

.for-free{
  text-transform: uppercase;
  color: $front-page-link;
}

a.register-now:link, a.register-now:visited{
  color: $front-page-link;
  font-size: 1.8rem;
}


a.register-now:focus, a.register-now:hover{
  color: $panel-blue;

}

//.dashboard-container, .page-not-found, .stats-container{
//  margin-top: 100px;
//
//}
.stats-container{
  position: relative;
  top: 100px;

}

.urgent{
  color: $panel-red;

}
.urgent-update{
  text-align: center;
}

.urgent.form-control
{
  border: 1px solid $panel-red;
}


.fa-mobile-phone{
  font-size: 2.5rem;
}


@media(max-width:768px) {

}

@media (max-width: 414px){

  .how-it-works{
    margin-left: 15px;
  }


  #product-section-img{
    display: none;
  }

  .parallax-window-noimg{
    min-height: 100px;
    padding: 0;
  }



}
