.modal h2{
  font-family: 'bebas', sans-serif;
}

div.modal-backdrop.fade.in{
  z-index:-1;
}

.modal.fade .modal-dialog {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}

.modal-backdrop.in {
  opacity: 0.7;
  filter: alpha(opacity=10); }


.modal-content{
  border-radius:0;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 500px;
  }
}

@media (max-width: 414px) {
  .modal.fade  .modal-dialog {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
}

