.parallax-window-img {
  min-height: 700px;
  background: transparent;
}

.parallax-window-noimg {
  min-height: 350px;
  background: transparent;
  padding: 2rem 0;

  //background-color: #1f2d35;
  //color: #e3e3e3;
}


@media (max-width: 767px){
  .parallax-window-img {
    min-height: 300px;
  }

}