.parallax-window-img {
  min-height: 700px;
  background: transparent;

}

.parallax-window-noimg {

  min-height: 350px;
  background: transparent;
  padding: 1rem 0;

}


@media (max-width: 767px){
  .parallax-window-img {
    min-height: 300px;
  }

}