@import "colors";
@import "font_mixin";

@include font_mixin('goboldregular', 'gobold', 'gobold-webfont');


.front-wrapper{
  position: relative;
}


.name-slogan-wrapper{
  z-index: 12;
  position: absolute;
  left: 13.7%;
  top: 53%;
  //border: red dotted 1px;
}



.site-name{
  position: relative;
  color: $site-name;
  line-height: 10rem;
  font-size: 14rem;
  margin-left: -10px;
  text-shadow: 1px 1px #3d3843;
  font-family: "goboldregular";

}

.slogan{
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFF;
  width: 360px;
  padding-left: 110px;
  margin-left: 30px;
  font-size: 3rem;
  font-style: oblique;
  border-bottom: 3px solid $site-name;
  text-shadow: 1px 1px #3d3843;
}


@media(max-width:1366px) {

  .name-slogan-wrapper{
    left: 4%;
    top: 65%;
  }

  .site-name{
    //line-height: 11rem;
    font-size: 13rem;

  }
  //
  //.slogan{
  //  color: white;
  //  width: 365px;
  //  font-size: 4rem;
  //  font-style: oblique;
  //  border-top: 1px solid white;
  //  text-shadow: 1px 1px #0d102e;
  //}

}


@media(max-width:768px) {


  .name-slogan-wrapper{
    left: 8%;
    top: 45%;
  }


  .site-name{
    font-size: 10rem;
    line-height: 7rem;
  }
  .slogan{
    border-bottom: 2px solid $site-name;
    width: 260px;
    padding-left: 75px;
    margin-left: 20px;
    font-size: 2.2rem;

  }


}


@media (max-width: 414px){
  .name-slogan-wrapper{
    display: none;
  }

}
