@import "colors";
@include font_mixin('icomoon', 'icomoon', 'icomoon');

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: whitesmoke;
  font-size: 1.5rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover{
  color: #f8f4ff;
}

.social-btn{
  border-radius: 0;
  height: 42px;
  line-height: 24px;
  width: 230px;
}
.fb-btn{
  background: $fb-btn;
  border: 2px solid #7491ce;

}

.gplus-btn{

  background: $gplus-btn;
  border: 2px solid #f3523f;

}

.icon-fb:before {
  margin-right: 5px;
  content: "\e90b";
}

.icon-google:before {
  margin-right: 5px;
  content: "\e90c";
}
.icon-google2:before {
  margin-right: 5px;
  content: "\e90d";
}
.icon-google3:before {
  margin-right: 5px;
  content: "\e90e";
}
.icon-google-plus:before {
  margin-right: 5px;
  content: "\e90f";
}
.icon-google-plus2:before {
  margin-right: 5px;
  content: "\e910";
}
.icon-google-plus3:before {
  margin-right: 5px;
  content: "\e911";
}

.social-login-links{
  position: relative;
  //top: -1rem;
}