 @import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 @import "../font-awesome-scss/font-awesome";
 @import "font_mixin";
 @import "colors";

 @include font_mixin('cantarellregular', 'cantarell_regular', 'Cantarell-Regular');
 @include font_mixin('cantarellregular', 'cantarell_regular', 'Cantarell-Regular');
 @include font_mixin('cantarelloblique', 'cantarell_oblique', 'Cantarell-Oblique');
 @include font_mixin('cantarellbold', 'cantarell_bold', 'Cantarell-Bold-webfont');
 @include font_mixin('ciclefina', 'cicle_fina', 'Cicle_Fina');
 @include font_mixin('ciclegordita_italic', 'cicle_gorditaitalic', 'Cicle_Gordita_Italic-webfont');
 @include font_mixin('cicle_semi_italicsemi_italic', 'cicle_semiitalic', 'Cicle_Semi_Italic-webfont');


 @include font_mixin('bebas', 'bebas_regular', 'bebas');
 @include font_mixin('icomoon', 'icomoon', 'icomoon');
 @include font_mixin('fontawesome', 'fontawesome', 'fontawesome');

 @include font_mixin('exoregular', 'exo', 'exo-regular');
 @include font_mixin('exoblack', 'exo', 'exo-black');

 @import "main";
 @import "forms";
 @import "modals";
 @import "social";
 @import "nav";
 @import "login";
 @import "parallax";
 @import "locked-footer";



 html, body {
   //font-family: 'ciclefina';
   //font-family: 'cantarellregular';
  font-family: 'exo-regular', sans-serif;

 }

 .how-it-works{
  width: 100%;
  font-size: 1.6rem;

 }


 .parallax-window-img img{
  opacity: 0.8;
  //filter: alpha(opacity=1);
 }


 .form-control{
  border-radius: 0;
  height: 45px;
  font-size: 1.4rem;
 }

 .center{
  text-align: center;
 }

 .for-free{
  text-transform: uppercase;
  color: red;
  color: #ff1b3d;
 }

 //
 //canvas{
 // border: 1px red dotted;
 //}
 //
 .dashboard-container, .page-not-found{
  position: absolute;
  top: 100px;

 }
 .page-not-found{

 }

 .urgent{
  color: #ff1b3d;
 }
 .urgent.form-control
 {
  border: 1px solid #ff86a7;;
 }


