 @import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 @import "../font-awesome-scss/font-awesome";
 @import "font_mixin";
 @import "colors";

 @include font_mixin('cantarellregular', 'cantarell_regular', 'Cantarell-Regular');
 @include font_mixin('cantarellregular', 'cantarell_regular', 'Cantarell-Regular');
 @include font_mixin('cantarelloblique', 'cantarell_oblique', 'Cantarell-Oblique');
 @include font_mixin('cantarellbold', 'cantarell_bold', 'Cantarell-Bold-webfont');
 @include font_mixin('capsuularegular','capsuula_regular', 'Capsuula-webfont');
 @include font_mixin('ciclefina', 'cicle_fina', 'Cicle_Fina');
 @include font_mixin('ciclegordita_italic', 'cicle_gorditaitalic', 'Cicle_Gordita_Italic-webfont');
 @include font_mixin('cicle_semi_italicsemi_italic', 'cicle_semiitalic', 'Cicle_Semi_Italic-webfont');
 @include font_mixin('bebas', 'bebas_regular', 'bebas');

 @include font_mixin('icomoon', 'icomoon', 'icomoon');
 @include font_mixin('fontawesome', 'fontawesome', 'fontawesome-webfont');

 @import "main";
 @import "forms";
 @import "social";
 @import "nav";
 @import "login";
 @import "parallax";
 @import "locked-footer";


 //@font-face {
 //  font-family: 'icomoon';
 //  src:    url('../fonts/icomoon.eot?xds2z4');
 //  src:    url('../fonts/icomoon.eot?xds2z4#iefix') format('embedded-opentype'),
 //  url('../fonts/icomoon.ttf?xds2z4') format('truetype'),
 //  url('../fonts/icomoon.woff?xds2z4') format('woff'),
 //  url('../fonts/icomoon.svg?xds2z4#icomoon') format('svg');
 //  font-weight: normal;
 //  font-style: normal;
 //}


 html, body {
   //font-family: 'ciclefina';
   //font-family: 'cantarellregular';
   //font-family: 'capsuularegular';

 }

 .modal h2{
  font-family: 'bebas';
 }

 div.modal-backdrop.fade.in{
  z-index:-1;
 }

 .modal.fade .modal-dialog {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
 }

 .parallax-window-img img{
  opacity: 0.8;
  //filter: alpha(opacity=1);
 }

 .modal-backdrop.in {
  opacity: 0.7;
  filter: alpha(opacity=10); }



 .modal-content{
  border-radius:0;
 }

 @media (min-width: 768px) {
  .modal-dialog {
   width: 500px;
    }
 }


 .form-control{
  border-radius: 0;
  height: 45px;
  font-size: 1.4rem;
 }
