/*@font-face {*/
    /*font-family: 'icomoon';*/
    /*src:    url('../fonts/icomoon.eot?xds2z4');*/
    /*src:    url('../fonts/icomoon.eot?xds2z4#iefix') format('embedded-opentype'),*/
    /*url('../fonts/icomoon.ttf?xds2z4') format('truetype'),*/
    /*url('../fonts/icomoon.woff?xds2z4') format('woff'),*/
    /*url('../fonts/icomoon.svg?xds2z4#icomoon') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/


/*[class^="icon-"], [class*=" icon-"] {*/
    /*!* use !important to prevent issues with browser extensions that change fonts *!*/
    /*font-family: 'icomoon' !important;*/
    /*speak: none;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*font-variant: normal;*/
    /*text-transform: none;*/
    /*line-height: 1;*/

    /*!* Better Font Rendering =========== *!*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

html, body{
    width: 100%;
    height: 100%;
    /*overflow-y: hidden;*/
}

.or-social-line {
    line-height: 0.5;
    text-align: center;
}
.or-social-line span {
    display: inline-block;
    position: relative;
}
.or-social-line span:before,
.or-social-line span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #8b8b8b;
    border-top: 1px solid #8b8b8b;
    top: 0;
    width: 200px;
}
.or-social-line span:before {
    right: 100%;
    margin-right: 15px;
}
.or-social-line span:after {
    left: 100%;
    margin-left: 15px;
}
.social-login-links p{
    margin-left: -4px;
}

.slogan{
    left: 25.6%;
    top: 25%;
}
