
/*@font-face {*/
    /*font-family: 'din_condensedbold';*/
    /*src: url('din/din_condensed_bold-webfont.eot');*/
    /*src: url('din/din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('din/din_condensed_bold-webfont.woff2') format('woff2'),*/
    /*url('din/din_condensed_bold-webfont.woff') format('woff'),*/
    /*url('din/din_condensed_bold-webfont.ttf') format('truetype'),*/
    /*url('din/din_condensed_bold-webfont.svg#din_condensedbold') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/

/*}*/


/*@font-face {*/
    /*font-family: 'exoregular';*/
    /*src: url('exo/exo-regular.eot');*/
    /*src: url('exo/exo-regular.eot?#iefix') format('embedded-opentype'),*/
    /*url('exo/exo-regular.woff2') format('woff2'),*/
    /*url('exo/exo-regular.woff') format('woff'),*/
    /*url('exo/exo-regular.ttf') format('truetype'),*/
    /*url('exo/exo-regular.svg#exoregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/

/*}*/

/*@font-face {*/
    /*font-family: 'bebasregular';*/
    /*src: url('bebas/bebas.eot');*/
    /*src: url('bebas/bebas.eot?#iefix') format('embedded-opentype'),*/
    /*url('bebas/bebas.woff') format('woff'),*/
    /*url('bebas/bebas.ttf') format('truetype'),*/
    /*url('bebas/bebas.svg#bebasregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/

/*}*/



/*.fa-times-circle-o{*/
    /*visibility: hidden;*/
    /*color: #fb5542;*/
/*}*/
/*.fa-check-circle-o{*/
    /*visibility: hidden;*/
    /*color: seagreen;*/
/*}*/
/*input.ng-invalid.ng-dirty {*/
    /*border: 1px solid lightpink;*/
/*}*/
/*input.ng-valid.ng-dirty {*/
    /*border: 1px solid seagreen;*/
/*}*/
/*input.ng-invalid.ng-dirty ~ .fa-times-circle-o, input.ng-valid.ng-dirty ~ .fa-check-circle-o{*/
    /*visibility: visible;*/

/*}*/


.container, .container-fluid{
    margin-bottom: 15rem;
}


.profile-my-info{
    float: right;
}


@media (max-width: 767px){

    .profile-my-info{
        float: none;
    }

}


button[class='close']{
    font-size: 3.3rem;
}


/*======== 404 page ========*/

.wrapper-404{
    position: absolute;
    z-index: 1200;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-family: Helvetica;
}

.h1-404{
    font-size: 5rem;
}
.go-back{
    color: #76fdc4;
    font-size: 2.7rem;
    font-family: 'exo-regular';
}
.go-back:hover{
    color: #b5e8d4;
}

.img-wrapper-404{
    width: 100%;
    position: absolute;
    overflow: hidden;
}
/*======== end 404 page ========*/
